# Build directory
build
cmake-build-debug
examples

test/litTests/batch_fn_test2/batch_process_test1
test/litTests/batch_fn_test2/batch_process_test1.ll
test/unittests/inputs/*.pdf
test/unittests/inputs/*.bc
test/unittests/output/*.pdf

*.o

compile_commands.json
